.task-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  height: calc(100vh - 60px);
  overflow-y: auto;
}

.task-card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

/* Floating Button */
.add-task-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: none;

  background: #2563eb;
  color: white;

  font-size: 32px;
  cursor: pointer;

  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}