* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f1f5f9;
}

.main {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

#menuBtn {
  font-size: 28px;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar h1 {
  margin-left: 15px;
}